@charset "utf-8";

/*** 共通 ***/
div {
	margin: 0;
	padding: 0;
}

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}

a:link {
	color:#0000FF;
	text-decoration:none;
}

a:visited {
	color:#0000FF;
	text-decoration:none;
}

a:hover {
	color:#CC0000;
	text-decoration:none;
}

.clearfloat { 
    	clear:both;
    	height:0;
    	font-size: 1px;
    	line-height: 0px;
}

#container {
	width: 900px;
	background: #FFFFFF;
	margin: 0 auto;
	padding: 10px 15px;
	text-align: left;
}



/*** ヘッダ ***/
#header {
	background: #FFFFFF;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
	border-bottom: 1px solid #cccccc;
} 

#header h1 {
	font-size: 24px;
	font-weight: 400;
	color: #993300;
	margin: 0;
	padding: 0px 5px;
	text-align: left;
} 

#header h2 {
	font-size: 14px;
	font-weight: 400;
	color: #0066FF;
	margin: 0;
	padding: 0px 5px;
	text-align: left;
} 

/*** 本文 ***/
#mainContent {
	background: #FFFFFF;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
} 

#mainContent h2 {
	font-size: 18px;
	color: #006633;
	font-weight: 700;
	margin: 0;
	padding: 10px 0 5px 0;
	text-align: left;
} 

#mainContent h3 {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding: 5px 0 5px 0;
	text-align: left;
} 

#mainContent h4 {
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	padding: 5px 0 5px 0;
	text-align: left;
} 

#mainContent p {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 0;
	padding: 0 0 10px 0;
	text-align: left;
	text-indent: 1em;
} 

#mainContent ul {
	margin: 0;
	padding-bottom: 5px;
	padding-left: 3em;
}

#mainContent ol {
	margin: 0;
	padding-bottom: 5px;
	padding-bottom: 3em;
} 

#mainContent li {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 0;
	padding: 0 0 5px 0;
	text-align: left;
} 

#mainContent dl {
	margin: 0;
	padding-bottom: 15px;
	padding-right: 5em;
} 

#mainContent dt {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: left;
} 

#mainContent dd {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 0;
	padding: 0 0 0 15px;
	text-align: left;
} 

#mainContent .code {
	font-size: 12px;
	font-weight: 400;
	color: #000000;
	margin: 0;
	padding-bottom: 5px;
	padding-left: 3em;
	text-align: left;
} 


#mainContent table {
	margin: 0;
	padding-bottom: 15px;
}

#mainContent tr {
	margin: 0;
	line-height: 16px;
}

#mainContent td {
	margin: 0;
	padding: 3px 8px;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	vertical-align: top;
}

#mainContent th {
	margin: 0;
	padding: 3px 8px;
	font-size: 14px;
	font-weight: 700;
	color: #000000;
}

#mainContent .contentFigure {
	margin: 0;
	padding: 20px 0 20px 2em;
}

#mainContent .contentFigure img {
	margin: 0;
	padding: 0 0 5px 0;
}

#mainContent .contentFigure p {
	margin: 0;
	padding: 0 0 5px 0;
	text-indent: 0;
	font-size: 12px;
	font-weight: 400;
	color: #000000;
}

#mainContent .val {
	font-style: italic;
}



/*** メソッドの説明 ***/
#mainContent .method {
}
#mainContent .method h4 {
	font-weight: 400;
}
#mainContent .method p {
	padding: 0;
	padding-left: 15px;
	text-indent:0 ;
}
#mainContent .method dl {
	padding-left: 15px;
}

#mainContent .method dd {
	padding-bottom: 3px;
}

#mainContent .method ul {
	margin: 0;
	padding: 0 3em 0 3em;
}

#mainContent .method ol {
	margin: 0;
	padding: 0 3em 0 3em;
}

#mainContent .method li {
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: left;
}

/*** プロパティの説明 ***/
#mainContent .property dl {
	padding-left: 15px;
}


/*** リンク ***/
#links {
	background: #FFFFFF;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: left;
} 

#links td {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	width: 100px;
}

/*** コンテンツの末尾 ***/
#contentBottom {
	margin-top: 10px;
}


/*** フッタ ***/
#footer { 
	padding: 0 25px;
	padding-bottom: 20px;
	background:#ffffff; 
	border-top: 1px solid #cccccc;
	height: 35px;
}

#footer table {
	width: 100%;
}

#footer td {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 12px;
	color:#000000;
	text-align: left;
}

#footer .banners {
	text-align: right;
}

#footer .microBanner {
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 0px;
	width: 88px;
	height: 31px;
	float:right;
}




